/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #fffef9;
}

a {
	text-decoration: none;
	color: black;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

.main-container {
	margin:auto;
	max-width: 1140px;
}

body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.instagram {
	width: 20px;

}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}


/* // Ajout CSS pour les boutons //  */

.button_container {
	margin-top: 51px;
	margin-bottom: 51px;
	display: flex;
	justify-content: center;
}

button {
	border-radius: 20px;
	margin-right: 15px;
	font-size:16px;
	color: #1d6154;
	padding: 9px 14px 9px 14px;
	border : 1px solid #1d6154;
	background-color:#fffef9;
	cursor: pointer;
	font-family: 'Syne';
}

button:hover {
	background-color: #1d6154;
	color: white;
}

.hidden_button {
	padding-bottom: 0;
	margin-top: 0;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	max-height: 490px;
}


#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color:#0e2f28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

footer nav ul li {
	font-size: 14px;
	font-weight: 300;
}

/* Style page login */

.login_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login label {
	display: flex;
	margin-top: 37px;
	margin-bottom: 7px;
	width: 379px;
}

form input {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.button_connexion, .button-add-photo, .button-validation {
	margin-top: 30px;
	border: solid 1px;
	padding: 10px 39px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	border-radius: 60px;
	display: flex;
}

.button_connexion:hover, .button-add-photo:hover, .button-validation:hover {
	background-color: #0e2f28;
}

.login {
	margin-bottom: 355px;
}

.login label {
	color: #3d3d3d;
}
.login form {
	display: flex;
	flex-direction: column;
}

.login a {
	display: flex;
	justify-content: center;
	color: #3d3d3d;
}

.login a:hover {
	text-decoration:underline;
}

/* Style Admin page */

.admin-mode {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 19.5px;
	padding-bottom: 20.5px;
	background-color: black;
}

.admin-mode i {
	padding-right: 11px;
}

.edit-button {
	font-family: 'Work Sans';
	background-color: black;
	color: white;
	border: none;
}

.edit-button:hover {
	background-color: black;
}

.modif-button{
	border: none;
	font-family: 'Work Sans';
	color: black;
	margin-left: 31px;
	background-color: #fffef9;
	position: absolute;
	left: calc(57% + 10px); /* Positionne le bouton à droite du titre */
  top: 50%; /* Centre verticalement */
  transform: translateY(-50%); /* Déplace le bouton verticalement pour le centrer */
}

.modif-button:hover {
	background-color: #fffef9;
	color: black;
}

.project {
display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 139px;
position: relative;
}

.logout {
	cursor: pointer;
}


/* Style de la première modale */

.modal, .modal2 {
	position: fixed;	
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,0.4);
	visibility: hidden;
}

.modal-container {
	overflow: auto;
	background-color: white;
	width: 560px;
	max-height: calc(100vh - 20px);
	padding-top: 50px;
	border-radius: 10px;
	padding-left: 90px;
	padding-right: 90px;
	position: relative;
}

.modal-title {
	font-family:'Work Sans';
	color: black;
	font-size: 26px;
	padding-bottom:15px ;
}

.line {
	height: 1px;
	background-color: #B3B3B3;
	margin-top: 50px;
}

.modal-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 25px;
}

.work-image {
	width: 100%;
	max-height: 135px;
}

.xmark {
	position: absolute;
	top: 32px;
	right: 35px;
	font-size: 16px;
	cursor: pointer;
}

/* Style de la deuxième modale */

.modal2 .modal-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.modal2 .fa-image {
	font-size: 74px;
	color: #b9c5cc;
}

.modal2 p {
	color: #444444;
	font-size: 10px;
}

.modal2 label {
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
}

.add-button {
	background-color: #cbd6dc;
	width: 173px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:50px ;
	cursor: pointer;
}

.add-img {
	background-color: #e7f1f6;
	width: 420px;
	height: 169px;

	justify-content: center;
	align-items: center;
	border-radius: 3px;
	color: #306685;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-input {
	display: none;
}

.form-add {
	display: flex;
	flex-direction: column;
	width: 420px;
	margin-top: 10px;
}

.form-add input {
	margin-top: 10px;
	margin-bottom: 21px;
}

.form-add label {
	margin-top:21px ;
	color: #3d3d3d;
}  

.button-validation {
	width: 237px;
	justify-content: center;
}

.button-validation-wait {
	background-color: #a7a7a7;
}

.modal2 .line {
	height: 1px;
  background-color: #B3B3B3;
  width: 420px;
} 

#categorie { 
	margin-top: 10px;
	height: 51px;
	width:420px ;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017; 
	position: relative;
	border-right: 20px solid transparent;
	color: #6c6c6c;
}

#image {
	width: auto;
	height:100%;
	overflow: hidden;
	display: none;
} 

/* Corbeille sur image */

.modal-gallery figure {
	position: relative;
}

.trash-background {
	height: 17px;
	width: 17px;
	background-color: black;
	position: absolute;
	top: 7px;
	right: 5px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.trash {
	position: relative;
	color: white;
	font-size: 12px;

}

